.button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 6px;
  background-color: transparent;
  color: #1ac5d1;
  border: 1px solid #1ac5d1;
}

.button:hover,
.button:active {
  background-color: #1ac5d1;
  border-color: #1ac5d1;
  color: white;
}
